{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/bootstrap.min.css' %}"/>

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Hi {{user}}!</a></li>
                        <li class="breadcrumb-item"><a href="/admin-user">Users </a></li>
                        <li class="breadcrumb-item"><a href="/admin-user/login">Logout </a></li>
                    </ol>
                </nav>

                <div class="card mt-2">
                    <div class="card-header d-flex justify-content-between">
                        <div>User Information</div>
                    </div>
                    <div class="card-body">
                        
                            <div class="list-group">
                                <div class="list-group-item">
                                    <b>Username:</b> {{user.username}}
                                </div>

                                <div class="list-group-item">
                                    <b>Email</b> {{user.email}}
                                </div>

                                <div class="list-group-item">
                                    <b>Admin role:</b> {{user.is_superuser}}
                                </div>

                                
                            </div>

                            <div class="mt-3 text-end">
                                <a href="/user/edit/{{user.id}}" id="edit_std" class="btn btn-sm btn-primary">Edit</a>
                                <a href="/user/delete/{{user.id}}" id="delete_std" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
{% endblock %}