{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/bootstrap.min.css' %}"/>

{% block content %}
<div class="container-fluid mt-5">
	<div class="row d-flex justify-content-center">
		<div class="col-md-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/projects">Projects</a></li>
					<li class="breadcrumb-item active" aria-current="page"><a href="/accounts/logout">Logout</a></li>
				</ol>
			</nav>

			<div class="card">
				<div class="card-header d-flex justify-content-between">
					<div>Create Project</div>
				</div>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						{% for item in form %}
							<div class="mb-2">
								<label> {{item.name}}</label>{{ item}}
							</div>
						{% endfor %}
						
						<div class="text-end mt-2">
							<button id="create_std" class="btn btn-primary">Save</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}